----------WEB SCRAPING ASSIGNMENT 2)-----------------------------------------------------------------
-------------------------

Q1)---------: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

---------------------------INSERING ALL THE NECESSARY LIBRARIES---------------------------------

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd
import numpy as np
import re
pd.options.display.max_colwidth = 200

In [2]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')

In [3]:
driver.maximize_window()

In [4]:
url='https://www.naukri.com/'

-----------------GETTING THE URL-------------------------------------------------------------------

In [5]:
driver.get(url)

--------------------SEARCHING FOR DATA ANALYST------------------------

In [6]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys('DATA ANALYST')

----------SETTING LOCATION AS BANGALORE----------------------------

In [7]:
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')

--------------------CLICKING THE SEARCH BUTTON-------------------------------------

In [8]:
next_click=driver.find_element(By.CLASS_NAME,'qsbSubmit')
next_click.click()

----------------------------MAKING LIST OF SUITABLE DATA USING XPATH--------------------------------------------

In [9]:
job_t=[]
comp_n=[]
job_l=[]
ex_r=[]

ITERATING THROUGH THE LISTS AND APPENDING OUT REQUIRED INFORMATION OF 10 PAGES

In [11]:
for i in range(1,11):
    print('\n\nSCRAPING PAGE -',i)
    #creating the lists of job title using class 
    ab=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in ab:
        job_t.append(i.text)
    #creating the list of company names using class
    cn=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
    for i in cn:
        comp_n.append(i.text)
    #creating the list of job locations using class
    loc=driver.find_elements(By.XPATH,"//ul[@class='mt-7']/li[3]")
    for i in loc:
        job_l.append(i.text)
    #creating the list of experienced required using class and li
    ex=driver.find_elements(By.XPATH,"//ul[@class='mt-7']/li[1]")
    for i in ex:
        ex_r.append(i.text)
    #creating the next button 
    nxt=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]/span')   
    try:
        nxt.click()
    except:
        print('LAST PAGE')
        break
    time.sleep(2)

SCRAPING PAGE - 1


SCRAPING PAGE - 2


SCRAPING PAGE - 3


SCRAPING PAGE - 4


SCRAPING PAGE - 5


SCRAPING PAGE - 6


SCRAPING PAGE - 7


SCRAPING PAGE - 8


SCRAPING PAGE - 9


SCRAPING PAGE - 10

MAKING A DATA FRAME WITH ALL THE INFORMATION WE SCRAPED

In [12]:
naukri=pd.DataFrame({'COMPANY_NAME':comp_n,"JOB_TITLE":job_t,"EXPERIENCE REQUIRED":ex_r,"JOB_LOCATION":job_l})

In [13]:
naukri

,COMPANY_NAME,JOB_TITLE,EXPERIENCE REQUIRED,JOB_LOCATION
0,CGI,Senior Data Analyst - PLM Data Migration,3-6 Yrs,Bangalore/Bengaluru
1,Mobile Premier League (MPL),Lead Data Analyst,4-7 Yrs,Bangalore/Bengaluru
2,NMS Consultant,Sr. Data Analyst (SAS Data Management),5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
3,IBM,Data Analyst,3-4 Yrs,Bangalore/Bengaluru
4,IBM,Data Analyst,3-4 Yrs,Bangalore/Bengaluru
...,...,...,...,...
195,WAKEFIT INNOVATIONS PRIVATE LIMITED,Data Analyst,1-4 Yrs,Bangalore/Bengaluru
196,Nineleaps,Data Analyst,1-4 Yrs,Bangalore/Bengaluru
197,Zolostays,Data Analyst,5-10 Yrs,Bangalore/Bengaluru
198,Talent500,Data Analyst - SQL | Hy-Vee,3-8 Yrs,Bangalore/Bengaluru
199,Talent500,Data Analyst - Nielsen / IRI | Pepsico,4-9 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Chennai"

In [14]:
driver.quit()

---------------------------------------------------------------------------------------------------------------------------

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

GETTING URL

In [15]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [16]:
url='https://www.naukri.com/'
driver.get(url)

--------------------SEARCHING FOR DATA SCIENTIST------------------------

In [17]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('DATA SCIENTIST')

------------SETTING LOCATION AS Bangalore--------------------------------------------

In [18]:
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')

--------------------CLICKING THE SEARCH BUTTON-------------------------------------

In [19]:
next_click=driver.find_element(By.CLASS_NAME,'qsbSubmit')
next_click.click()

----------------------------MAKING LIST OF SUITABLE DATA USING XPATH--------------------------------------------

In [20]:
job_title=[]
comp_name=[]
job_location=[]

ITERATING THROUGH THE LISTS AND APPENDING OUT REQUIRED INFORMATION OF 10 PAGES

In [21]:
for i in range(1,11):
    print('\n\nSCRAPING PAGE -',i)
    #creating the list of job titles using class
    ab=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in ab:
        job_title.append(i.text)
    #creating the list of company names using class tag    
    cn=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
    for i in cn:
        comp_name.append(i.text)
    #creating the list of job locations using class tag    
    loc=driver.find_elements(By.XPATH,"//ul[@class='mt-7']/li[3]")
    for i in loc:
        job_location.append(i.text)
    nxt=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]/span')   
    try:
        nxt.click()
    except:
        print('LAST PAGE')
        break
    time.sleep(2)

SCRAPING PAGE - 1


SCRAPING PAGE - 2


SCRAPING PAGE - 3


SCRAPING PAGE - 4


SCRAPING PAGE - 5


SCRAPING PAGE - 6


SCRAPING PAGE - 7


SCRAPING PAGE - 8


SCRAPING PAGE - 9


SCRAPING PAGE - 10

In [22]:
data_scientist=pd.DataFrame({"JOB_TITLE":job_title,"COMPANY_NAME":comp_name,"JOB LOCATION":job_location})

In [23]:
data_scientist

,JOB_TITLE,COMPANY_NAME,JOB LOCATION
0,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai"
1,Senior Data Scientist,Wipro,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
2,Data Scientist - Looking For Immediate Joiners,Wipro,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad"
3,Assistant Manager - Data Science,Citiustech,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
4,Data Scientist,Altair,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai"
...,...,...,...
195,Senior Data Scientist,Harman Connected Services Corporation India Pvt.,Bangalore/Bengaluru
196,Sr. Data Scientist,Silicon Valley Bank,Bangalore/Bengaluru
197,Data Science- AI Product,Spectral Consultants,Bangalore/Bengaluru
198,Assoc Data Scientist,ACI Worldwide,Bangalore/Bengaluru
199,Data Scientist,Uplers,Permanent Remote

In [24]:
driver.quit()

--------------------------------------------------------------------------------------------------------------------------------------------------

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

GETTING URL

In [25]:

driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [26]:
url='https://www.naukri.com/'
driver.get(url)

--------------------SEARCHING FOR DATA SCIENTIST------------------------

In [27]:
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('DATA SCIENTIST')

--------------------CLICKING THE SEARCH BUTTON-------------------------------------

In [28]:
next_click=driver.find_element(By.CLASS_NAME,'qsbSubmit')
next_click.click()

----------SETTING THE LOCATION FILTER AS DELHI/NCR AND MARKING SALARY FILTER AS 3-6 LAKH-----------------------------

In [29]:
fil_click=driver.find_element(By.XPATH,"//span[contains(@title,'Delhi') and @class='ellipsis fleft']")

In [30]:
fil_click.click()

In [32]:
sal_clic=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
sal_clic.click()

----------------------------MAKING LIST OF SUITABLE DATA USING XPATH--------------------------------------------

In [33]:
jobt=[]
comp=[]
jobl=[]
exr=[]

ITERATING THROUGH THE LISTS AND APPENDING OUT REQUIRED INFORMATION OF 10 PAGES

In [34]:
for i in range(1,11):
    print('\n\nSCRAPING PAGE -',i)
    #creating list of job titles using class 
    ab=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in ab:
        jobt.append(i.text)
    #creating list of comp names using class    
    cn=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
    for i in cn:
        comp.append(i.text)
    #creating list of job locations using class    
    loc=driver.find_elements(By.XPATH,"//ul[@class='mt-7']/li[3]")
    for i in loc:
        jobl.append(i.text)
    #creating list of experience required using class and li tags    
    ex=driver.find_elements(By.XPATH,"//ul[@class='mt-7']/li[1]")
    for i in ex:
        exr.append(i.text)
    nxt=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]/span')   
    try:
        nxt.click()
    except:
        print('LAST PAGE')
        break
    time.sleep(2)

SCRAPING PAGE - 1
LAST PAGE

-----------------------------------CREATING THE DATAFRAME--------------------------------

In [35]:
dat=pd.DataFrame({'JOB_TITLE':jobt,'COMPANY':comp,"JOB_LOCATION":jobl,"EXPERIENCE":exr})

In [36]:
dat

,JOB_TITLE,COMPANY,JOB_LOCATION,EXPERIENCE
0,Data Scientist,HCLTech,"Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru",4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,"Temp. WFH - Noida, Pune",0-4 Yrs
3,Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS,Black Turtle,"Delhi / NCR, Bangalore/Bengaluru",4-8 Yrs
4,Data Scientist,torcai digital media,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram",2-7 Yrs
5,Data Scientist,Meon Technologies,Noida,2-5 Yrs
6,Data Scientist,Alliance Recruitment Agency,Noida,3-4 Yrs
7,Data Specialist,RCPC,Noida,4-6 Yrs
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,3-6 Yrs
9,Data Scientist,Razor Group GmbH,New Delhi,2-3 Yrs
10,Senior Data Scientist - Python (f/m/x),Razor Group GmbH,New Delhi,5-10 Yrs

In [37]:
driver.quit()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually

------------------------GETTING THE URL-----------------------

In [38]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [39]:
url='https://www.flipkart.com/'
driver.get(url)

-------------SETTING SEARCH AS SUNGLASSES IN SEARCH BOX-------------------------

In [40]:
srch=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')

In [41]:
srch.send_keys('sunglasses')

------------------CLICKING ON SEARCH TAB--------------------------

In [42]:
go=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')

In [43]:
go.click()

--------------CREATING LISTS OF INFORMATION TAGS WE WANT TO FETCH-------------------------------

In [44]:
br=[]
fe=[]
pri=[]
off=[]

------------CREATING NEXT BUTTON LINK---------------------------------

In [45]:
nxt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3" and contains(span,"Next")]')

----------------ITERATING BETWEEN THE LISTS WE SCRAPED USING SELENIUM USING FOR LOOPS FOR EACH CATEGORY----------------------

In [46]:
for i in range(1,5):
    print("SCRAPING PAGE--",i)
    #creating list of brand name using class and div tag
    ab=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in ab:
        if(len(br)<100):
            br.append(i.text)
        else:
            break
    #creating list of features using class         
    cd=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in cd:
        if(len(fe)<100):
            fe.append(i.text)
        else:
            break
    #creating list of prices using div and class        
    ef=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in ef:
        if(len(pri)<100):
            pri.append(i.text)
        else:
            break
    # creating lists of discounts offered using class and div        
    gh=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in gh:
        if(len(off)<100):
            off.append(i.text)
        else:
            break
    #condition which checks if lists are not full        
    if(len(br)<100 and len(fe)<100 and len(pri)<100 and len(off)<100):
        nxt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3" and contains(span,"Next")]')
        nxt.click()
        time.sleep(3)
    else:
        print("LIST FULL NO APPEND")

SCRAPING PAGE-- 1
SCRAPING PAGE-- 2
SCRAPING PAGE-- 3
LIST FULL NO APPEND
SCRAPING PAGE-- 4
LIST FULL NO APPEND

---------------CREATING THE DATAFRAME OF THE SCRAPED DATA----------------------------------------------------------------

In [47]:
sunglasses=pd.DataFrame({"BRAND_NAME":br,"FEATURE":fe,"PRICE":pri,"DISCOUNT":off})

In [48]:
sunglasses

,BRAND_NAME,FEATURE,PRICE,DISCOUNT
0,RESIST EYEWEAR,"Polarized, Riding Glasses, UV Protection Wayfarer Sungl...","₹1,399",72% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹279,81% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,35% off
3,PIRASO,UV Protection Rectangular Sunglasses (52),₹199,87% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹254,90% off
...,...,...,...,...
95,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹629,30% off
96,ROYAL SON,UV Protection Round Sunglasses (50),₹449,70% off
97,ROYAL SON,UV Protection Rectangular Sunglasses (64),₹664,66% off
98,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient Rectangula...",₹499,76% off
99,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹664,66% off

In [49]:
driver.quit()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Q5)------Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

------------------------------------------------GETTING THE URL-----------------------------------------------------------------

In [50]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

*******************SINCE THE LINK PROVIDED IS NOT WORKING WE HAVE TO USE DIFFERENT LINK**************************

In [51]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART"

In [52]:
driver.get(url)

CREATING THE LISTS REQUIRED FOR APPENDING THE REQUIRED INFORMATION

In [53]:
rating=[]
over=[]
comment=[]

ITERTAING OVER LISTS WE MAKE USING SELENIUM AND ACQUIRING USEFUL INFORMATION

In [54]:
for i in range(1,11):
    print('\n\nSCRAPING PAGE -',i)
    #creating list of rating using contain and class condition
    rat=driver.find_elements(By.XPATH,'//div[contains(@class,"_3LWZlK _")]')
    for k in rat:
        rating.append(k.text)
    #creating list of overall descriprion using class and p    
    ove=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for k in ove:
        over.append(k.text)
    #creating list of comments using class and div tag    
    comm=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for k in comm:
        comment.append(k.text)
    nxt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3" and contains(span,"Next")]')
    nxt.click()
    time.sleep(3)

SCRAPING PAGE - 1


SCRAPING PAGE - 2


SCRAPING PAGE - 3


SCRAPING PAGE - 4


SCRAPING PAGE - 5


SCRAPING PAGE - 6


SCRAPING PAGE - 7


SCRAPING PAGE - 8


SCRAPING PAGE - 9


SCRAPING PAGE - 10

--------------------------CREATING THE DATAFRAME------------------------------------------

In [55]:
reviews=pd.DataFrame({'RATING':rating,"OVERALL DESCRIPTION":over,"COMMENT":comment})

In [56]:
reviews

,RATING,OVERALL DESCRIPTION,COMMENT
0,5,Simply awesome,Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.
1,4,Value-for-money,I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.
2,5,Perfect product!,Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .
3,5,Best in the market!,Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from ap...
4,5,Highly recommended,What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow
...,...,...,...
95,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10days of delivery mobile will not work properly\nVolume and silent buttons are not working.\nNo worth to buy in Flipkart.\nPlease don’t buy apple produc...
96,5,Awesome,I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny
97,5,Just wow!,"Great iphone.\nI am writing this review after 2 months of usage.\nCamera is excellent, especially the nightmode\nDisplay perfect\nBattery backup awesome\nSound quality very good\nOverall Apple giv..."
98,5,Super!,"Did an upgrade from 6s plus to iphone 11.\nAo far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets p..."
99,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy looks one word Awesome

In [57]:
driver.quit()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------


Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
ASSIGNMENT 2
Note: All the steps required during scraping should be done through code only and not manually.

GETTING THE REQUIRED URL///

In [58]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [59]:
url='https://www.flipkart.com/'
driver.get(url)

SERACHING FOR "Sneakers" in search tab---

In [60]:
srch=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
srch.send_keys('sneakers')

------------clicking on the search button----------------------

In [61]:
go=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
go.click()

-----CREATING LISTS bd for BRAND NAME, pro for PRODUCT DESCRIPTION, and pr for PRICE-----------------

In [62]:
bd=[]
pro=[]
pr=[]

------------USING SELENIUM TO CREATE LISTS OF REQUIRED ELEMENTS AND USING THE FOR LOOP TO OPERATE BETWEEN THEM ------------------

In [63]:
for i in range(1,10):
    print("\n\nSCRAPING PAGE--",i)
    #creating lists of brand name using XPATH and class 
    brnd=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for k in brnd:
        if(len(bd)<100):
            bd.append(k.text)
    #creating lists of product descriptions using class         
    pdes=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for k in pdes:
        if(len(pro)<100):
            pro.append(k.text)
    #creating list of price using XPATH div and class        
    price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for k in price:
        if(len(pr)<100):
            pr.append(k.text)
    # checking condition which checks if lists are full        
    if(len(bd)==100 and len(pro)==100 and len(pr)==100):
        print("LISTS ARE FULL")
        break
    else:
        ns=driver.find_element(By.XPATH,'//a[contains(span,"Next") and @class="_1LKTO3"]')
        ns.click()
        time.sleep(3)

SCRAPING PAGE-- 1


SCRAPING PAGE-- 2


SCRAPING PAGE-- 3
LISTS ARE FULL

In [64]:
sneakers=pd.DataFrame({'BRAND':bd,'PRODUCT DESCRIPTION':pro,'PRICE':pr})

In [65]:
sneakers

,BRAND,PRODUCT DESCRIPTION,PRICE
0,Numenzo,White Sneaker For Men Sneakers For Men,₹550
1,BUXBERRY,Sneakers For Men,₹490
2,RED TAPE,Original Luxury Branded Fashionable Men's Casual Walkin...,₹999
3,ASTEROID,Sneakers For Men,₹499
4,RED TAPE,"Casuals, Canvas, Partywear Sneakers For Men","₹1,079"
...,...,...,...
95,Robbie jones,Men SM-406 Grey Sneakers For Men,₹549
96,PUMA,Sneakers For Men,"₹2,799"
97,Mcfun,Dynamite Slip-on Sneakers For Men,₹499
98,EZDEZARIO,MAPF1 A3ROCAT Mid Sneakers For Men,₹549
99,Absolute comfort,2 Combo Sneaker Shoes Sneakers For Men,₹220

In [66]:
driver.quit()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.
ASSIGNMENT 2
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.
 : In Case, Inspect click don’t works, Please use ctrl+shift+c to inspect the element

--------------------GETTING THE URL---------------

In [67]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [68]:
url='https://www.myntra.com/shoes'
driver.get(url)

SETTING THE PRICE FILTER "7198 TO 14133 "

In [69]:
pri_fil=driver.find_element(By.XPATH,'//ul[@class="price-list"]/li[2]')
pri_fil.click()

SETTING THE COLOR FILTER AS BLACK

In [70]:
col_fil=driver.find_element(By.XPATH,'//li[@class="colour-listItem"][1]')
col_fil.click()

CREATING THE LISTS FOR NAME as name, FEATURE as feat , PRICE as price---------------

In [71]:
name=[]
feat=[]
price=[]

USING SELENIUM TO CREATE LISTS OF DESIRED ELEMENTS AND USING FOR LOOP TO append the reqired details in respective lists we created above

In [72]:
for i in range(1,10):
    print("\n\nSCRAPING PAGE--",i)
    #creating lists of brand name ui=sing h3  and class 
    nm=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for k in nm:
        if(len(name)<100):
            name.append(k.text)
    #creating list of product description using XPATH AND CLASS        
    ft=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for k in ft:
        if(len(feat)<100):
            feat.append(k.text)
    #creating list of prics using XPATH and class tag        
    prr=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for k in prr:
        if(len(price)<100):
            a=k.text.split()[1]
            t=re.findall('\d+',a)
            price.extend(t)
    #checking condition if lists of full        
    if(len(name)==100 and len(feat)==100 and len(price)==100):
        print("LISTS ARE FULL")
        break
    else:
        np=driver.find_element(By.XPATH,'//li[@class="pagination-next"]/a')
        np.click()
        time.sleep(3)

SCRAPING PAGE-- 1


SCRAPING PAGE-- 2
LISTS ARE FULL

In [73]:
shoes=pd.DataFrame({'BRAND':name,"PRODUCT DESCRIPTION":feat,"PRICE IN RS":price})

In [74]:
shoes

             BRAND             PRODUCT DESCRIPTION PRICE IN RS
0           ADIDAS     Men Runner Fl Running Shoes       12749
1         Skechers       Men Woven Design Sneakers        7499
2           ADIDAS      Men Response Super 3.0 Run        8999
3     UNDER ARMOUR  Men HOVR SonicSE Running Shoes        9999
4         Skechers       Men GO WALK - TERRA Shoes        7499
..             ...                             ...         ...
95       J.FONTINI               Men Solid Loafers        8990
96  Tommy Hilfiger      Men Colourblocked Sneakers        8329
97            Geox            Men Leather Sneakers        9341
98            Geox             Men Leather Loafers        9341
99    Calvin Klein    Men Printed Leather Sneakers        7679

[100 rows x 3 columns]

In [75]:
driver.quit()

---------------------------------------------------------------------------------------------











Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
ASSIGNMENT 2
Note: All the steps required during scraping should be done through code only and not manually.

=======================GETTING THE URL========================================

In [76]:

driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [77]:
url="https://www.amazon.in/"
driver.get(url)

SETTING THE SEARCH BAS AS LAPTOP-----------------

In [78]:
sl=driver.find_element(By.XPATH,'//input[contains(@id,"twotab")]')
sl.send_keys("Laptop")

CLICKING ON THE SEARCH ICON-----------------------------

In [79]:
sg=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')

In [80]:
sg.click()

CHECKING THE CPU TYPE -INTEL CORE I7

In [81]:
fil_check=driver.find_element(By.XPATH,"//li[contains(@aria-label,'i7')]/span")

In [82]:
fil_check.click()

CREATING LISTS FOR TITLE AS titi, RATINGS as rats , PRICE as pc

In [83]:
titi=[]
rats=[]
pc=[]

USING SELENIUM TO CREATE LISTS OF DESIRED ELEMENTS AND USING FOR LOOP TO append the reqired details in respective lists we created above

In [84]:
for i in range(1,10):
    print("\n\nSCRAPING PAGE--",i)
    # creating lists of titles using SPAN  AND CLASS
    t=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
    for k in t:
        if(len(titi)<10):
            titi.append(k.text)
    # creating list of price  using span and class        
    p=driver.find_elements(By.XPATH,"//span[@class='a-price']")
    for k in p:
        if(len(pc)<10):
            pc.append(k.text)
    # fetching all the data from using s card containers and saving it in haha list
    #fetching all the ratings from the list we created in haha and appending it in ra
    haha=driver.find_elements(By.XPATH,'//div[@class="s-card-container s-overflow-hidden aok-relative puis-include-content-margin puis s-latency-cf-section s-card-border"]')
    ra=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
    for x in haha:
        link=x.find_elements(By.XPATH,"*//div[@class='a-row a-size-small']/span")
        if(link!=[]):
            ri=link[0].get_attribute('aria-label')
        else:
            ri='NOT AVAILABLE'
        if(len(rats)<10):
            rats.append(ri)
    if (len(titi)==10 and len(pc)==10 and len(rats)==10):
        print('LISTS ARE FULL')
        break

SCRAPING PAGE-- 1
LISTS ARE FULL

In [85]:
laptop=pd.DataFrame({"TITLE":titi,"PRICE":pc,"RATINGS":rats})

In [86]:
laptop

,TITLE,PRICE,RATINGS
0,"Samsung Galaxy Book2 Pro Intel 12th Gen i7 EvoTM 39.62cm (15.6"") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.11Kg), NP950XED-KA1IN","₹1,11,000",3.5 out of 5 stars
1,"Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3"") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-K...","₹97,990",4.0 out of 5 stars
2,"Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6""(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN","₹83,990",4.3 out of 5 stars
3,"HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue","₹80,990",4.5 out of 5 stars
4,Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs,"₹82,990",3.8 out of 5 stars
5,"Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6""(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH","₹80,900",3.6 out of 5 stars
6,"Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3"") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-K...","₹97,990",4.0 out of 5 stars
7,HP Envy x360 12th Gen Intel Core i7-13.3 inch(33.8 cm) OLED Multi-Touch Gorilla Glass 2-in-1 Laptop(16GB RAM/1TB SSD/400 nits/Win 11/Intel Iris Xe Graphics/Alexa/B&O/Zenvo Pen/MSO/1.32Kg)13 bf0063TU,"₹1,13,700",NOT AVAILABLE
8,"Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F3...","₹81,490",4.3 out of 5 stars
9,"Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3"" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO'21, Platinum Silver (D560754WIN9S, 1.25Kgs)","₹84,407",NOT AVAILABLE

In [87]:
driver.quit()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------





Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
 The above task will be done in following steps:
 1.First get the webpage https://www.azquotes.com/
 2. Click on Top Quotes
 3. Than scrap a) Quote b) Author c) Type Of Quote

GETTING THE URL--------------------------

In [88]:

driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [89]:
url="https://www.azquotes.com/"
driver.get(url)

CLICKING ON THE TOP QUOTES ON THE PAGE--------------

In [90]:
st=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]")

In [91]:
st.click()

CREATING LISTS FOR QUOTES AS quote , AUTHOR as author , TYPE OF QUOTE AS typ-------------------

In [92]:
quote=[]
author=[]
typ=[]

USING SELENIUM TO CREATE LISTS OF DESIRED ELEMENTS AND USING FOR LOOP TO append the reqired details in respective lists we created above

In [93]:
for i in range(1,20):
    print("SCRAPING PAGE ----",i)
    # fetching all quotes and appending it in qu
    qu=driver.find_elements(By.XPATH,"//a[@class='title']")
    for k in qu:
        if(len(quote)<1000):
            quote.append(k.text)
    # fetching all the AUTHORS and appending it in au       
    au=driver.find_elements(By.XPATH,"//div[@class='author']/a")
    for k in au:
        if(len(author)<1000):
            author.append(k.text)
    # fetvhing all the quote_types and appending it in ty
    ty=driver.find_elements(By.XPATH,"//div[@class='tags']")
    for k in ty:
        if(len(typ)<1000):
            typ.append(k.text)
    # checking conditions if lists are full
    
    if(len(quote)==1000 and len(author)==1000 and len(typ)==1000):
        print("LIST FULL")
        break
    else:
        nt=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]")
        nt.click()
        time.sleep(3)

SCRAPING PAGE ---- 1
SCRAPING PAGE ---- 2
SCRAPING PAGE ---- 3
SCRAPING PAGE ---- 4
SCRAPING PAGE ---- 5
SCRAPING PAGE ---- 6
SCRAPING PAGE ---- 7
SCRAPING PAGE ---- 8
SCRAPING PAGE ---- 9
SCRAPING PAGE ---- 10
LIST FULL

In [94]:
quo=pd.DataFrame({'QUOTE':quote,"AUTHOR":author,"QUOTE_TYPE":typ})

In [95]:
quo

,QUOTE,AUTHOR,QUOTE_TYPE
0,The essence of strategy is choosing what not to do.,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past merely because it does not fit the present.,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It does not mean to stand by the president.,Theodore Roosevelt,"Country, Peace, War"
3,"Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, w...",Nelson Mandela,"Inspirational, Motivational, Death"
4,"You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with famil...",Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered by time; it is regret for the things we did not do that is inconsolable.,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred million used car salesmen with all the money we need to buy guns and no qualms about killing anybody else in the world who tries to make us uncomfortable.,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multiple reward.,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly personal. It can't be organized or regulated. It isn't true that everyone should follow one path. Listen to your own truth.",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth and honesty are written across her face, she will be beautiful.",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

In [96]:
driver.quit()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

GETTING THE URLs----------------------------------------------

In [97]:

driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [98]:
url="https://www.jagranjosh.com/"
driver.get(url)

CLICKING ON THE GK TAB-----------------------------------

In [99]:
gkt=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")

In [100]:
gkt.click()

CLICKING ON THE LISTS OF ALL PRIME MINISTERS OF INDIA TAB

In [101]:
lis_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
lis_click.click()

CREATING LISTS FOR SERIAL NO as sn , NAME as name, BORN-DEAD  as born_dead, TERM OF OFFICE AS term_of_office ,REMARK as remark

In [102]:
sn=[]
name=[]
born_dead=[]
term_of_office=[]
remark=[]

USING SELENIUM TO GENERATE LISTS OF REQUIRED TABLE AND USING STRING FORMATTING AND STRING SLICING TO APPEND OUR LISTS WHICH WE CREATED ABOVE

In [103]:
#fetching all the elements and appending it in lis
df=driver.find_elements(By.XPATH,'//div[@class="table-box"][1]/table/tbody/tr')
lis=[]
new=[]
for i in df:
    # formatting the strings and splitting in new line
    li=i.text.split('\n')
    lis.append(li)

In [104]:
lis=lis[1:]

In [105]:
for i in lis:
    # appending serial numbers in sn
    #appending names in name
    #appending born-dead in born_dead
    sn.append(i[0])
    name.append(i[1])
    born_dead.append(i[2])
    # condition for appending in term_of_office and remark
    if(len(i)==5):
        term_of_office.append(i[3])
        remark.append(i[4])
    else:
        term_of_office.append(i[3:5])
        remark.append(i[5])

In [106]:
PRIME_MINISTERS=pd.DataFrame({"SERIAL_NUMBER":sn,"NAME":name,"BORN-DEAD":born_dead,"TERM OF OFFICE":term_of_office,"REMARK":remark})

In [107]:
PRIME_MINISTERS.set_index(['SERIAL_NUMBER'],inplace=True)

In [108]:
PRIME_MINISTERS

,NAME,BORN-DEAD,TERM OF OFFICE,REMARK
SERIAL_NUMBER,,,,
1.,Jawahar Lal Nehru,(1889–1964),"[15 August 1947 to 27 May 1964, 16 years, 286 days]","The first prime minister of India and the longest-serving PM of India, the first to die in office."
2.,Gulzarilal Nanda (Acting),(1898-1998),"[27 May 1964 to 9 June 1964,, 13 days]",First acting PM of India
3.,Lal Bahadur Shastri,(1904–1966),"[9 June 1964 to 11 January 1966, 1 year, 216 days]",He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965
4.,Gulzari Lal Nanda (Acting),(1898-1998),"[11 January 1966 to 24 January 1966, 13 days]",-
5.,Indira Gandhi,(1917–1984),"[24 January 1966 to 24 March 1977, 11 years, 59 days]",First female Prime Minister of India
6.,Morarji Desai,(1896–1995),"[24 March 1977 to 28 July 1979 , 2 year, 126 days]",Oldest to become PM (81 years old) and first to resign from office
7.,Charan Singh,(1902–1987),"[28 July 1979 to 14 January 1980, 170 days]",Only PM who did not face the Parliament
8.,Indira Gandhi,(1917–1984),"[14 January 1980 to 31 October 1984, 4 years, 291 days]",The first lady who served as PM for the second term
9.,Rajiv Gandhi,(1944–1991),"[31 October 1984 to 2 December 1989, 5 years, 32 days]",Youngest to become PM (40 years old)
10.,V. P. Singh,(1931–2008),"[2 December 1989 to 10 November 1990, 343 days]",First PM to step down after a vote of no confidence
11.,Chandra Shekhar,(1927–2007),"[10 November 1990 to 21 June 1991, 223 days]",He belongs to Samajwadi Janata Party
12.,P. V. Narasimha Rao,(1921–2004),"[21 June 1991 to 16 May 1996, 4 years, 330 days]",First PM from south India
13.,Atal Bihari Vajpayee,(1924- 2018),"[16 May 1996 to 1 June 1996, 16 days]",PM for shortest tenure
14.,H. D. Deve Gowda,(born 1933),"[1 June 1996 to 21 April 1997, 324 days]",He belongs to Janata Dal
15.,Inder Kumar Gujral,(1919–2012),"[21 April 1997 to 19 March 1998 , 332 days]",------
16.,Atal Bihari Vajpayee,(1924-2018),"[19 March 1998 to 22 May 2004 , 6 years, 64 days]",The first non-congress PM who completed a full term as PM
17.,Manmohan Singh,(born 1932),"[22 May 2004 to 26 May 2014 , 10 years, 4 days]",First Sikh PM
18.,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two consecutive tenures

In [109]:
driver.quit()

----------------------------------------------------------------------------------------------------------------------------------------------------------------

Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model 
name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make th

GETTING THE URLs--------------------------

In [118]:
driver=webdriver.Chrome(r'C:\Users\VNarayan\Downloads\chromedriver.exe')
driver.maximize_window()

In [119]:
url=" https://www.motor1.com/"
driver.get(url)

CLICKING ON THE 3 HORIZONTAL LINES TAB----------------

In [120]:
cl=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
cl.click()

CLICKING ON THE LISTS TAB

In [121]:
listy=driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')

In [122]:
listy.click()

CLICKING ON 50 MOST EXPENSIVE CARS IN THE WORLD TAB

In [123]:
exp=driver.find_element(By.XPATH,"//div[@class='text-box']/h3/a[contains(@href,'-new-cars-ever')]")

In [124]:
exp.click()

CREATING LISTS FOR NAME OF CAR AS name_car and PRICE as price_car--------------------------------------

In [125]:
import re
name_car=[]
price_car=[]
# ------appending name of car in name_car and price of car in price_car and using string formatting-----
car=driver.find_elements(By.XPATH,"/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/ul/li")
for i in car:
    # formatting strings using replace and split
    ele=i.text.replace('-','').replace(':','').split('$')
    name_car.append(ele[0])
    price_car.append(ele[1])

In [126]:
most_expensive=pd.DataFrame({"NAME OF THE CAR":name_car,"PRICE OF THE CAR IN ($)":price_car})

In [127]:
most_expensive

                      NAME OF THE CAR PRICE OF THE CAR IN ($)
0                         Drako GTE               1.2 Million
1                       DeTomaso P72              1.3 Million
2                 Ferrari LaFerrari               1.4 Million
3                     Pagani Huayra               1.4 Million
4                       Czinger 21C               1.7 Million
5                     Ferrari Monza               1.7 Million
6                Gordon Murray T.33               1.7 Million
7                 Koenigsegg Gemera               1.7 Million
8                      McLaren Elva               1.7 Million
9                        Zenvo TSRS               1.7 Million
10               Hennessey Venom F5               1.8 Million
11                  Bentley Bacalar               1.9 Million
12     Hispano Suiza Carmen Boulogne              1.9 Million
13            Bentley Mulliner Batur              2.0 Million
14                      Deus Vayanne              2.0 Million
15                      SSC Tuatara              2.0 Million*
16                      Lotus Evija               2.1 Million
17              Aston Martin Vulcan               2.3 Million
18                        Delage D12              2.3 Million
19                McLaren Speedtail               2.3 Million
20                     Rimac Nevera               2.4 Million
21                     Pagani Utopia              2.5 Million
22             Pininfarina Battista               2.5 Million
23                Ferrari FXX K Evo               2.6 Million
24               Gordon Murray T.50               2.6 Million
25             Lamborghini Countach               2.6 Million
26          MercedesAMG Project One               2.7 Million
27              Aston Martin Victor               3.0 Million
28       Hennessey Venom F5 Roadster              3.0 Million
29                 Koenigsegg Jesko               3.0 Million
30            Aston Martin Valkyrie               3.2 Million
31        W Motors Lykan Hypersport               3.4 Million
32                     McLaren Solus              3.5 Million
33        Pagani Huayra Roadster BC               3.5 Million
34         Bugatti Chiron Pur Sport               3.6 Million
35                 Lamborghini Sian               3.6 million
36                  Koenigsegg CC850              3.7 Million
37  Bugatti Chiron Super Sport 300+               3.9 Million
38               Lamborghini Veneno               4.5 Million
39                   Bugatti Bolide               4.7 Million
40                   Bugatti Mistral              5.0 Million
41               Pagani Huayra Imola              5.4 Million
42                     Bugatti Divo               5.8 Million
43              SP Automotive Chaos               6.4 Million
44                  Pagani Codalunga              7.4 Million
45          MercedesMaybach Exelero               8.0 Million
46               Bugatti Centodieci               9.0 Million
47              RollsRoyce Sweptail              12.8 Million
48         Bugatti La Voiture Noire              13.4 Million
49             RollsRoyce Boat Tail             28.0 Million*

In [128]:
driver.quit()

ALL 11 QUESTIONS IN WORKING CONDITION 
--------------------------
ASSIGNMENT COMPLETED
----------------------------------------------------